    <%-include('header',{username:username,message:message}) %>
    <%-include('menu',{username:username,message:message}) %>
    <%-include('tchatbox',{username:username,message:message}) %>
  <p> File was upload. Are you sure to use this CSV as Contact collection ? (erase the old one if exist)</p>
   
      <div class="choice">
        <ul>
            <li><a href="/makeimport/useData/?answer=1">Oui</a></li>
            <li><a href="/makeimport/useData?answer=0">Non</a></li>
        </ul>
    </div>
<%-include('footer',{username:username,message:message}) %>