<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>CSV Import tool</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <%-include('header',{username:username,message:message}) %>
    <%-include('menu',{username:username,message:message}) %>
    <%-include('tchatbox',{username:username,message:message}) %>
  <% if(answer = 1){

  %> Contact collection overwrite with sucess <%
  }else{

    %> Operation cancelled <%
  }
  %>
<%-include('footer',{username:username,message:message}) %>