<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>CSV Import tool</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
 <div class="menu">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/todo">Reminders</a></li>
            <li><a href="/makeimport/importForm">Import Entreprise</a></li>
            <li><a href="/request">Recherche</a></li>
        </ul>
    </div>
  <% if(answer = 1){

  %> Contact collection overwrite with sucess <%
  }else{

    %> Operation cancelled <%
  }
  %>
</body>
</html>