<div class="elementListContainer">
    <table class="List">
    
    <% for(var i=0; i<doc.length; i++) {
    %>
        <tr >
            <td><%= doc[i].Objet %></td>
            <td><%= doc[i].Date %></td>
            <td><%= doc[i].Note %></td>
            <td><%= doc[i].Valider %></td>
        </tr>
   
    <% } %>
    </table>

</div>