<!-- Retour en haut de page -->

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">      
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>    
</footer>


<!-- Footer - Copyright -->
<div id="footer" class="container-fluid text-center" style="background-color: #072854 ; height: 150px">
  <h3 style="color: white">Copyright - Tout droits réservés !</h3>
</div>
</body>
</html>