<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Research tool</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <p> In order to use this function, just type any related word to your research into the research fields. Then, ask for a separated research or a full text 
one</p>
   
      <form action="/request/queryForm" method="post"> <!--pas de enctype ni de multdata car pas supporté par le bodyparser de expresstgf-->
         <fieldset>
            <label for="query">Research:</label>
            <input type="text" id="query" name="query" autofocus />
			
			<div class="form-group">
				<label>Query type :</label>
				<div class="radio">
					<label for="separated"><input type="radio" name="querytype" id="separated" value="S">Separated</label>
				</div>
				<div class="radio">
					<label for="fulltext"><input type="radio" name="querytype" id="fulltext" value="F" >Full-text</label>
				</div>
			</div>
			
            <input type="submit" value="Ask Skynet" />
         </fieldset>
      </form>
</body>
</html>